[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Neko1122000
	email = 48760369+Neko1122000@users.noreply.github.com
